<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <link th:include="base/base::header ('菜单管理')" />
    <link rel="stylesheet" th:href="@{/css/sys/base/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/model/graph/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/model/graph/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/model/graph/context.standalone.css}"/>
</head>
<body>
<div id="app" style="z-index: 100;position: relative;">
    <i-button type="success" icon="ios-add" size="small" @click="modal=true">添加区域</i-button>
    <i-button type="success" icon="ios-add" size="small" @click="lock">{{locktext}}</i-button>
    <i-button type="success" icon="ios-add" size="small" @click="refresh">刷新</i-button>
    <i-button type="success" icon="ios-add" size="small" @click="submit">提交</i-button>
    <Modal :title="modal_title" v-model="modal" class-name="vertical-center-modal" @on-ok="addarea" ok-text="确定" draggable>
        <i-input type="textarea" v-model="modal_content" placeholder="内容说明"></i-input>
    </Modal>
</div>
<div class="container-fluid" id="draggable"
     th:style="'background-image:url('+@{/imgs/system/bg.png} +');background-repeat: no-repeat;background-position: center center; background-size:100% 100%;'">
    <!--<img th:src="@{/imgs/system/bg.png}"></div>-->
</div>
<script th:src="@{/js/model/Graph/index.js}"></script>
<script th:src="@{/js/model/Graph/jquery-ui.min.js}"></script>
<script th:src="@{/js/model/Graph/context.js}"></script>
</body>
</html>