<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <link th:include="base/base::header ('菜单管理')" />
    <link rel="stylesheet" th:href="@{/css/sys/base/base.css}"/>
</head>
<body>
<div class="container-fluid">
    <div id="app">
        <i-row :gutter="10">
            <i-col span="24" :xs="24" :sm="24" :md="24" :lg="24" span="24">
                用户名:<i-input v-model="param.username" placeholder="用户名" style="width:100px" @on-change="getData"/>
                <i-button shape="circle" icon="ios-refresh" @click="getData"></i-button>
                <i-button type="success" icon="ios-add" size="small" @click="app_form_add">新增用户</i-button>
                <i-table highlight-row :columns="app_columns" :data="data" :loading="loading" :stripe="stripe" :height="containerhei"></i-table>
            </i-col>
        </i-row>
        <Page :total="100" show-sizer show-total/>
        <Modal title="用户信息" v-model="is_show_app" class-name="vertical-center-modal" @on-ok="app_form_submit" ok-text="提交"><!--垂直居中样式-->
            <i-form :model="app_form" :label-width="80" :rules="app_rules">
                <form-item label="用户名">
                    <i-input v-model="app_form.username" placeholder="用户名" @on-blur="getPY"></i-input>
                </form-item>
                <form-item label="预支金额">
                    <i-input v-model="app_form.loan" placeholder="预支金额"></i-input>
                </form-item>
                <form-item label="备注">
                    <i-input type="textarea" v-model="app_form.memo" placeholder="备注"></i-input>
                </form-item>
                <form-item label="激活状态">
                    <i-switch v-model="app_form.isActive">
                        <span slot="open">是</span>
                        <span slot="close">否</span>
                    </i-switch>
                </form-item>
            </i-form>
        </Modal>
    </div>

</div>

<script th:src="@{/js/model/loan/index.js}"></script>
</body>
</html>